.MovieContainer h1 {
  margin-bottom: 1rem;
}
.MovieContainer .MovieItem {
  display: inline-block;
  background-color: #8f8f8f;
  border-radius: 4px;
  padding: 1rem;
}

.MovieContainer .MovieItem img {
  max-height: 50vh;
}

.MovieContainer .MovieItem .title {
  padding: 0rem;
  color: #000;
}

.MovieContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.MovieContainer form label {
  color: gray;
  font-size: 0.72rem;
}

.MovieContainer form input[type="text"] {
  padding: 0.2rem;
  text-align: center;
}

.MovieContainer form button {
  padding: 0.4rem;
  background-color: aqua;
  color: #000;
  border-radius: 8px;
  font-weight: 600;
}
